.orders
  - unless @presenter.send(type).empty?
    .col-xs-12
      .underlined
        = t(type)
    .col-xs-12
      = render 'order_header'
      = render partial: 'orders/order_for_history', collection: @presenter.send(type), as: :order