%h4= title
.confirm
  =render 'confirm_address', type: :shipping_address
  =render 'confirm_address', type: :billing_address
  =render 'confirm_delivery'
  -#=render 'confirm_my_step'
  =render 'confirm_payment'
=render 'shopping_cart/order_items/header'
=render partial: 'shopping_cart/orders/order_item', collection: @confirm_presenter.items
=render 'shopping_cart/orders/total_price'
